* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: 100%;
}


/*------------------*/
/*Small Resolutions*/
/*------------------*/
@media only screen and (min-device-width: 480px){
  .s-grid_1 {width: 6.5%;}
  .s-grid_2 {width: 15%;}
  .s-grid_3 {width: 23.5%;}
  .s-grid_4 {width: 32%;}
  .s-grid_5 {width: 40.5%;}
  .s-grid_6 {width: 49%;}
  .s-grid_7 {width: 57.5%;}
  .s-grid_8 {width: 66%;}
  .s-grid_9 {width: 74.5%;}
  .s-grid_10 {width: 83.0%;}
  .s-grid_11 {width: 91.5%;}
  .s-grid_12 {width: 100%;}
  
.s-grid_1
.s-grid_2,
.s-grid_3,
.s-grid_4,
.s-grid_5,
.s-grid_6,
.s-grid_7,
.s-grid_8,
.s-grid_9,
.s-grid_10,
.s-grid_11,
.s-grid_12
 {
  margin: 0 2% 2% 0%;
  float: left;
  display: block;
}

.s-end_col {
  margin: 0 0% 2% 0%;
}

/*Styling*/

.lrg-header {
  display: none;
}
.container {
  padding: 3%;
  font-family: 'Palatino', serif;
}


.sml-header {
    height: 600px;
    background: #100;
}
  .sml-header-logo {
    height: 300px;
  }

  .sml-header h1{
    padding: 30px 2.5% 5% 2.5%; 
    text-align: center;
    height: 0px;
    margin-bottom: 5%;
  }
  
  .sml-header p {
    text-align: center;
    padding: 20px 15%; 
    font-size: 1.0em;
    line-height: 1.2em;
    word-spacing: 0.07em;
    text-shadow: .10em .10em #111;
    color: #fff;
  }

  .sml-header-pic {
    background: #999;
    margin-top: 0;
    height: 300px;
    }

.menu {
  background: #100;
  height: 300px;
  padding: 110px 10%;
  font-size: 4.0em;
  color: #ffb;
  text-align: center;
  font-family: 'Tahoma', sans-serif;
}

.slideshow {
 }
  .gallery {
    height: 320px;
  }
    .gallery img{
      width: 100%;
    }

  .gallery-nav {
    height: 45px;
    background: #210;
    color: #fff;
    text-align: center;
  }
    .gallery-nav img{
      display: inline-block;
      width: 30px;
      height: 30px;

    }
    
      img.left-arrow {
        float: left;
        margin: 8px 0 8px 40%;
      }
      img.right-arrow {
        float: right;
        margin: 8px 40% 8px 0;
      }

.contact-us{
    height: 400px;
    background: #013;
    color: #fff;
    text-align: center;
    padding-top: 15%
     }
    
  .contact-us h3{
    font-size: 1.7em;
    margin-bottom: 2.5%;
    font-family: 'Tahoma', sans-serif;
    color: #ffb;
  }

  .contact-us p {
    font-size: 1.0em;
    line-height: 1.3em
  }

.socialmedia img{
  width: 100%
}

} /* end small-res media query*/

/*------------------*/
/*Larger Resolutions*/
/*------------------*/
@media screen and (min-width: 660px){
  .l-grid_1 {width: 6.5%;}
  .l-grid_2 {width: 15%;}
  .l-grid_3 {width: 23.5%;}
  .l-grid_4 {width: 32%;}
  .l-grid_5 {width: 40.5%;}
  .l-grid_6 {width: 49%;}
  .l-grid_7 {width: 57.5%;}
  .l-grid_8 {width: 66%;}
  .l-grid_9 {width: 74.5%;}
  .l-grid_10 {width: 83.0%;}
  .l-grid_11 {width: 91.5%;}
  .l-grid_12 {width: 100%;}
  
.l-grid_1
.l-grid_2,
.l-grid_3,
.l-grid_4,
.l-grid_5,
.l-grid_6,
.l-grid_7,
.l-grid_8,
.l-grid_9,
.l-grid_10,
.l-grid_11,
.l-grid_12
 {
  margin: 0 2% 1% 0%;
  float: left;
  display: block;
}

.l-end_col {
  margin: 0 0% 1% 0%;
}

.sml-header{
  display: none;
}

.container {
  padding: 2%;
  font-family: 'Palatino', serif;
}

.lrg-header {
  display: block;
  position: relative;
  border: 1px solid gray;
  background: #222;
  height: 450px;
}
  .lrg-header img{
    width: 100%;
  }
  .lrg-logo-block{
    background: #100;
    height: 240px;
    width: 240px;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
  }
    .lrg-logo-block h1{
    padding: 20px 20px 5px 20px;
  }
        .lrg-logo-block h1{
        width: 95%;
        }

    .lrg-logo-block p {
    text-align: center;
    padding: 0px 25px 5px 25px; 
    font-size: 1.0em;
    line-height: 1.2em;
    word-spacing: 0.07em;
    text-shadow: .10em .10em #111;
    
  }
  .menu {
    height: 365px;
    padding: 120px 0px 0px 0px;
  }
  
  .contact-us {
    height: 500px;
    padding-top: 80px;
  }

  .socialmedia {
    height: 500px;
  }
    .socialmedia div{
      display: block;
      width: 100%;
      height: 245px;
      }

      .socialmedia div:first-child{
      margin-bottom: 10px;
      }

} /* end large-res media query*/
